.container{
    width: auto;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    box-sizing: border-box;
}

/* Contact Start */
.contact{
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: white;
    box-sizing: border-box;
}

.contact-head{
    width: 100%;
    height: 20%;
    text-align: center;
    line-height: 20px;
    box-sizing: border-box;
}

.contact-head p{
    font-family: sans-serif;
    font-size: 16px;
    color: #b4b0b0;
}

.contact-head h1{
    font-family: sans-serif;
    font-size: 18px;
    color: #141414;
}

.hrl1{
    border-bottom: #eb5d1e solid 2px;
    width: 50px;
    height: 3px;
    margin-left: 41%;
    margin-top: 10px;
}

.contact-con{
    width: 100%;
    height: auto;
    margin-top: 30px;
    background-color: white;
    box-sizing: border-box;
}

.contact-con-add{
    width: 100%;
    height: 50%;
    border-bottom: #eb5d1e solid 2px;
    border-top: #eb5d1e solid 2px;
    border-radius: 2px;
    box-shadow: 0px 0px 5px rgb(121, 116, 116);
    /* padding: 10px; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-left: 5px; */
}

.location{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 5px;
}

.location i{
    width: 36px;
    height: 25px;
    background-color: #f7e6df;
    color: #eb5d1e;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
    border-radius: 35px;
    transition: 0.5s;
}

.location p{
    font-family: sans-serif;
    font-size: 14px;
    color: #141414;
    margin-right: 10px;
}

.location p b{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #141414;
}

.location:hover i{
    background-color: #eb5d1e;
    color: white;
}


.Email{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 5px;
}

.Email i{
    width: 36px;
    height: 25px;
    background-color: #f7e6df;
    color: #eb5d1e;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
    border-radius: 35px;
    transition: 0.5s;
}

.Email p{
    font-family: sans-serif;
    font-size: 14px;
    color: #141414;
    margin-right: 95px;
}

.Email p b{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #141414;
}

.Email:hover i{
    background-color: #eb5d1e;
    color: white;
}


.Call{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    box-sizing: border-box;
    transition: 0.5s;
    padding-left: 5px;
}

.Call i{
    width: 36px;
    height: 25px;
    background-color: #f7e6df;
    color: #eb5d1e;
    font-size: 16px;
    text-align: center;
    padding-top: 5px;
    border-radius: 35px;
    transition: 0.5s;
}

.Call p{
    font-family: sans-serif;
    font-size: 14px;
    color: #141414;
    margin-right: 110px;
}

.Call p b{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #141414;
}

.Call:hover i{
    background-color: #eb5d1e;
    color: white;
}

.map{
    margin-top: 40px;
    margin-left: 13px;
}

/* Contact End */

/* NewsLetter Start */
.newsletter{
    width: 100%;
    height: auto;
    margin-top: 20px;
    /* padding: 20px; */
    background-color: #fef8f5;
}

.newsletter-con{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 20px;
    box-sizing: border-box;
}

.newsletter-con h1{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.newsletter-con p{
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 10px;
}

.newsletter-con input{
    margin-top: 10px;
    border: none;
    box-shadow: 0px 0px 3px rgb(226, 220, 220);
    padding: 5px;
    border-radius: 2px;
    font-family: sans-serif;
    font-size: 15px;
}

.newsletter-con label{
    background-color: #eb5d1e;
    font-family: sans-serif;
    font-size: 15px;
    padding: 5px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.newsletter-con label:hover{
    background-color: #924828;
}

@media (min-width:765px){
    .container{
        width: auto;
        height: auto;
        margin-left: 50px;
        margin-right: 50px;
        box-sizing: border-box;
    }
    
    /* NewsLetter Start */
    .newsletter{
        width: 100%;
        height: auto;
        background-color: #fef8f5;
    }
    
    .newsletter-con{
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        line-height: 20px;
        box-sizing: border-box;
    }
    
    .newsletter-con h1{
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 600;
    }
    
    .newsletter-con p{
        font-family: sans-serif;
        font-size: 16px;
        margin-top: 10px;
    }
    
    .newsletter-con input{
        margin-top: 10px;
        border: none;
        box-shadow: 0px 0px 3px rgb(226, 220, 220);
        padding: 5px;
        border-radius: 2px;
        font-family: sans-serif;
        font-size: 15px;
    }
    
    .newsletter-con label{
        background-color: #eb5d1e;
        font-family: sans-serif;
        font-size: 15px;
        padding: 6px;
        color: white;
        border-radius: 5px;
        transition: 0.5s;
        cursor: pointer;
    }

    .newsletter-con label:hover{
        background-color: #924828;
    }
}

@media (min-width: 1024px){
    .container{
        width: auto;
        height: auto;
        margin-left: 50px;
        margin-right: 50px;
        box-sizing: border-box;
    }
    
    /* NewsLetter Start */
    .newsletter{
        width: 100%;
        height: auto;
        background-color: #fef8f5;
    }
    
    .newsletter-con{
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        line-height: 20px;
        box-sizing: border-box;
    }
    
    .newsletter-con h1{
        font-family: sans-serif;
        font-size: 25px;
        font-weight: 600;
    }
    
    .newsletter-con p{
        font-family: sans-serif;
        font-size: 16px;
        margin-top: 20px;
    }
    
    .newsletter-con input{
        width: 40%;
        margin-top: 20px;
        border: none;
        box-shadow: 0px 0px 7px rgb(226, 220, 220);
        padding: 10px;
        /* border-radius: 2px; */
        font-family: sans-serif;
        font-size: 15px;
    }
    
    .newsletter-con label{
        background-color: #eb5d1e;
        font-family: sans-serif;
        font-size: 15px;
        padding: 10.7px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s;
    }

    .newsletter-con label:hover{
        background-color: #924828;
    }
}
/* Newsletter Start */

/* Footer Start */
.footer{
    width: 100%;
    height: auto;
    margin-top: 20px;
    box-sizing: border-box;
}

.footer-flex{
    width: 100%;
    height: auto;
    /* display: flex;
    justify-content: space-between; */
    box-sizing: border-box;
}

.footer-box1{
    width: 100%;
    height: auto;
    padding-top: 20px;
    box-sizing: border-box;
}

.footer-box1 h1{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.footer-box1 p{
    font-family: sans-serif;
    font-size: 13px;
    line-height: 20px;
    padding-top: 7px;
    padding-bottom: 15px;
}

.footer-box1 a{
    font-family: sans-serif;
    font-size: 13px;
    line-height: 20px;
    padding-top: 7px;
    text-decoration: none;
    color: black;
    line-height: 20px;
    padding-top: 30px;
}

.footer-box1 a b{
    font-weight: 600;
}

.footer-box2{
    margin-top: 20px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.footer-box2 h1{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
}


.footer-box2 ul li a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 35px;
    color: black;
    transition: 0.5s;
}

.footer-box2 ul li a i{
    font-size: 16px;
    color: #eb5d1e;
}


.footer-box3{
    margin-top: 20px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.footer-box3 h1{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
}


.footer-box3 ul li a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 35px;
    color: black;
    transition: 0.5s;
}

.footer-box3 ul li a i{
    font-size: 16px;
    color: #eb5d1e;
}

.footer-box4{
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.footer-box4 h1{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

.footer-box4 p{
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(71, 70, 70);
    margin-top: 20px;
}

.footer-box4 ul{
    display: flex;
    margin-top: 10px;
    box-sizing: border-box;
}
.footer-box4 ul li{
    list-style: none;
    padding-left: 10px;
}

.footer-box4 ul li a{
    text-decoration: none;
}

.footer-box4 ul li a i{
    font-size: 15px;
    color: white;
    width: 30px;
    height: 22px;
    background-color: #eb5d1e;
   text-align: center;
   padding-top: 7px;
   border-radius: 30px;
   transition: 0.5s;
    /* border: #eb5d1e solid 1px; */
}

.footer-box2 ul li a:hover{
    color: #eb5d1e;
}

.footer-box3 ul li a:hover{
    color: #eb5d1e;
}

.footer-box4 ul li a i:hover{
    background-color: #f7e0d6;
}

@media (min-width: 765px){
    .container{
        width: auto;
        height: auto;
        margin-left: 120px;
        margin-right: 120px;
        box-sizing: border-box;
    }
    /* Footer Start */
    .footer{
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }
    
    .footer-flex{
        width: 100%;
        height: auto;
        /* display: flex;
        justify-content: space-between; */
        box-sizing: border-box;
    }
    
    .footer-box1{
        width: 100%;
        height: auto;
        padding-top: 20px;
        box-sizing: border-box;
    }
    
    .footer-box1 h1{
        font-family: sans-serif;
        font-size: 20px;
        /* font-weight: 600; */
        color: black;
    }
    
    .footer-box1 p{
        font-family: sans-serif;
        font-size: 15px;
        line-height: 25px;
        padding-top: 7px;
        padding-bottom: 15px;
    }
    
    .footer-box1 a{
        font-family: sans-serif;
        font-size: 15px;
        line-height: 20px;
        padding-top: 7px;
        text-decoration: none;
        color: black;
        line-height: 20px;
        padding-top: 30px;
    }
    
    .footer-box1 a b{
        font-weight: 600;
    }
    
    .footer-box2{
        width: 100%;
        height: auto;
        margin-top: 20px;
        box-sizing: border-box;
    }
    
    .footer-box2 h1{
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
    }
    
    .footer-box2 ul li a{
        text-decoration: none;
        font-family: sans-serif;
        font-size: 15px;
        line-height: 35px;
        color: black;
        transition: 0.5s;
    }
    
    .footer-box2 ul li a i{
        font-size: 18px;
        color: #eb5d1e;
    }
    
    
    .footer-box3{
        width: 100%;
        height: auto;
        margin-top: 20px;
        box-sizing: border-box;
    }
    
    .footer-box3 h1{
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
    }
    
    
    .footer-box3 ul li a{
        text-decoration: none;
        font-family: sans-serif;
        font-size: 15px;
        line-height: 35px;
        color: black;
        transition: 0.5s;
    }
    
    .footer-box3 ul li a i{
        font-size: 18px;
        color: #eb5d1e;
    }
    
    .footer-box4{
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }
    
    .footer-box4 h1{
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 600;
        margin-top: 20px;
    }
    
    .footer-box4 p{
        font-family: sans-serif;
        font-size: 15px;
        color: rgb(71, 70, 70);
        margin-top: 20px;
    }
    
    .footer-box4 ul{
        display: flex;
        margin-top: 10px;
        box-sizing: border-box;
    }
    .footer-box4 ul li{
        list-style: none;
        padding-left: 10px;
    }
    
    .footer-box4 ul li a{
        text-decoration: none;
    }
    
    .footer-box4 ul li a i{
        font-size: 17px;
        color: white;
        width: 40px;
        height: 30px;
        background-color: #eb5d1e;
       text-align: center;
       padding-top: 10px;
       border-radius: 30px;
       margin-top: 15px;
       transition: 0.5s;
        /* border: #eb5d1e solid 1px; */
    }

    .footer-box2 ul li a:hover{
        color: #eb5d1e;
    }

    .footer-box3 ul li a:hover{
        color: #eb5d1e;
    }

    .footer-box4 ul li a i:hover{
        background-color: #f7e0d6;
    } 
}

@media (min-width: 1024px){
    .container{
        width: auto;
        height: auto;
        margin-left: 80px;
        margin-right: 80px;
        box-sizing: border-box;
    }
    .footer{
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }
    
    .footer-flex{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }
    
    .footer-box1{
        width: 25%;
        height: auto;
        padding-top: 20px;
        box-sizing: border-box;
    }
    
    .footer-box1 h1{
        font-family: sans-serif;
        font-size: 20px;
        color: black;
    }
    
    .footer-box1 p{
        font-family: sans-serif;
        font-size: 15px;
        line-height: 25px;
        padding-top: 7px;
        padding-bottom: 15px;
    }
    
    .footer-box1 a{
        font-family: sans-serif;
        font-size: 15px;
        line-height: 20px;
        padding-top: 7px;
        text-decoration: none;
        color: black;
        line-height: 20px;
        padding-top: 30px;
    }
    
    .footer-box1 a b{
        font-weight: 600;
    }
    
    .footer-box2{
        width: 25%;
        height: auto;
        margin-top: 20px;
        box-sizing: border-box;
    }
    
    .footer-box2 h1{
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
    }
    
    
    .footer-box2 ul li a{
        text-decoration: none;
        font-family: sans-serif;
        font-size: 15px;
        line-height: 35px;
        color: black;
        transition: 0.5s;
    }
    
    .footer-box2 ul li a i{
        font-size: 18px;
        color: #eb5d1e;
    }
    
    
    .footer-box3{ 
        width: 25%;
        height: auto;
        margin-top: 20px;
        box-sizing: border-box;
    }
    
    .footer-box3 h1{
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
    }
    
    
    .footer-box3 ul li a{
        text-decoration: none;
        font-family: sans-serif;
        font-size: 15px;
        line-height: 35px;
        color: black;
        transition: 0.5s;
    }
    
    .footer-box3 ul li a i{
        font-size: 18px;
        color: #eb5d1e;
    }
    
    .footer-box4{
        width: 25%;
        height: auto;
        box-sizing: border-box;
    }
    
    .footer-box4 h1{
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 600;
        margin-top: 20px;
    }
    
    .footer-box4 p{
        font-family: sans-serif;
        font-size: 15px;
        color: rgb(71, 70, 70);
        margin-top: 20px;
    }
    
    .footer-box4 ul{
        display: flex;
        margin-top: 10px;
        box-sizing: border-box;
    }
    .footer-box4 ul li{
        list-style: none;
        padding-left: 10px;
    }
    
    .footer-box4 ul li a{
        text-decoration: none;
        transition: 0.5s;
    }
    
    .footer-box4 ul li a i{
        font-size: 17px;
        color: white;
        width: 40px;
        height: 30px;
        background-color: #eb5d1e;
       text-align: center;
       padding-top: 10px;
       border-radius: 30px;
       margin-top: 20px;
       transition: 0.5s;
        /* border: #eb5d1e solid 1px; */
    }

    .footer-box2 ul li a:hover{
        color: #eb5d1e;
    }

    .footer-box3 ul li a:hover{
        color: #eb5d1e;
    }

    .footer-box4 ul li a i:hover{
        background-color: #f7e0d6;
    }
}
/* Footer End */

/* Legel Start */
.legal{
    width: 100%;
    height: auto;
    margin-top: 20px;
    background-color: #fef8f5;
    box-sizing: border-box;
}

.legel-flex{
    width: 100%;
    height: auto;
    padding: 1rem;
    line-height: 1.2rem;
    text-align: center;
    box-sizing: border-box;
}

.legel-flex p{
    font-family: sans-serif;
    font-size: 0.7rem;
}

.legel-flex b{
    font-family: sans-serif;
    font-size: 0.7rem;
    color: black;
    font-weight: 600;
}

.legel-flex a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 0.7rem;
    color: #eb5d1e;
}

@media (min-width: 765px){
    .container{
        width: auto;
        height: auto;
        box-sizing: border-box;
    }
    .legal{
        width: 100%;
        height: auto;
        background-color: #fef8f5;
        box-sizing: border-box;
    }
    
    .legel-flex{
        width: 100%;
        height: auto;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        text-align: center;
        box-sizing: border-box;
    }
    
    .legel-flex p{
        font-family: sans-serif;
        font-size: 0.9rem;
    }
    
    .legel-flex b{
        font-family: sans-serif;
        font-size: 0.9rem;
        color: black;
        font-weight: 600;
    }
    
    .legel-flex a{
        text-decoration: none;
        font-family: sans-serif;
        font-size: 0.9rem;
        color: #eb5d1e;
    }
}

@media (min-width: 1366px){
    .container{
        width: auto;
        height: auto;
        margin-left: 50px;
        margin-right: 50px;
        box-sizing: border-box;
    }
    .legal{
        width: 100%;
        height: auto;
        background-color: #fef8f5;
        box-sizing: border-box;
    }
    
    .legel-flex{
        width: 100%;
        height: auto;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        text-align: center;
        box-sizing: border-box;
    }
    
    .legel-flex p{
        font-family: sans-serif;
        font-size: 0.9rem;
    }
    
    .legel-flex b{
        font-family: sans-serif;
        font-size: 0.9rem;
        color: black;
        font-weight: 600;
    }
    
    .legel-flex a{
        text-decoration: none;
        font-family: sans-serif;
        font-size: 0.9rem;
        color: #eb5d1e;
    }
}
/* Legel End */